# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.pub-cache/
.pub/
/build/


# Miscellaneous
/input/
.DS_Store
*.log

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# FVM Version Cache
.fvm/

# AoC
/input/